{
    "all": true,
    "include": [
      "src/**/*.js"
    ],
    "exclude": [
      "coverage/**",
      "packages/*/test/**",
      "test/**",
      "test{,-*}.js",
      "**/*{.,-}spec.js",
      "**/__tests__/**",
      "**/node_modules/**",
      "**/babel.config.js"
    ],
    "reporter": [
      "lcov",
      "text",
      "html"
    ],
    "require": [
      "@babel/register"
    ],
    "sourceMap": false,
    "instrument": false
  }
